@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
body{
    font-family: 'Roboto Condensed', sans-serif;
    background-image:url("images/nie.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin:0;
    padding:0;
    color: white;
}
.nub{
    padding: 25px 70%;
    background-color:wheat;
    color: black;
    display: inline-block;
    position: fixed;
}
.nub{
    display:flex;
    justify-content: space-around;
    width:300px;
}
.break{
    height: 250px;
}
.dd{
    margin-left: 80px;
    margin-right: 600px;
}
.brek{
    height: 70px;
}
.menu{
    margin-left: 50%;
}
.pica{
    margin-left: 50%;
}